*{
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'JetBrains Mono', sans-serif;
    background-color:lightpink;
}

h1 {font-size: 5em;}
h2 {font-size: 4em;}
h3 {font-size: 3em;}
p {font-size: 1.3em;}
ul {list-style: none;}

button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 20px 40px;
    border-radius: 5px;
    border: 0px;
    box-shadow: 9px 8px 0px darkgray;
    color: white;
    background-color:slateblue;
}

button:hover{
    background-color: violet;
}

.container{
    max-width: 1400px;
    margin: auto;
}

header {
    background-color: rosybrown;
}

header .logo{
    font-weight: bold;
    font-size: 4em;
}

header .container{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.2em;
}

header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a {
    padding: 5px 25px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover {
    color:darkslateblue;
}

#hero {
    font-size: 1em;
    background-color: indianred;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 40em;
    color: antiquewhite;
    background-image: url(media/ojo1.png);
    background-size: cover;
    background-position: center center;
    padding-top: 4em;
}

#hero button{
    font-size: 1.8em;
    padding: 20px 40px;
    margin-top: 3em;
}

#informacion {

}

#informacion .container {
    text-align: center;
    font-size: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 100px 12px;
}

#informacion .img-container {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))
         url('media/retrato.png');
    background-size: cover;
    background-position: center center;
    width: 100px;
    height: 600px;
    border-radius: 10px;
}

#informacion h2 {
    font-size: 4em;
    margin-bottom: 0.5em;
}

#informacion p {
    font-size: 1.1em;
    line-height: 1.6;
    padding-top: 3em;
}

#trabajos {
    background-color: darkgrey;
    padding: 50px 20px;
}

#trabajos .container {
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 0 16px;
}

#trabajos h2 {
    margin-bottom: 1em;
    font-size: 4em;
    text-align: center;
}

#trabajos p {
    padding: 20px;
    text-align: center;
    font-size: 1.2em;
    display: block;
}

#trabajos .trabajos {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: stretch;
    width: 100%;
}

#trabajos .cartas{
    
    align-items: center;
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}

#trabajos button {
    display: inline-block;
    margin-top: 1.5em;
    align-self: center;
}

.carta-1 button,
.carta-2 button {
    margin-top: auto;
    width: auto;
}

.carta-1,
.carta-2 {
    font-size: 1em;
    color: seashell;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 2.5em 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 350px;
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box;
}

.carta-1 {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url(media/ojo2.png);
}

.carta-2 {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(media/ojo3.png);
}

#contacto .container {
    font-size: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 250px 12px;
}

#contacto li {
    font-size: 1.2em;
    margin: 20px 0px;;
}

#final{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:gainsboro;
    height: 50em;
}

#final h2{
    font-size: 4.5em;
    margin-bottom: 2vw;
}

#final button {
    margin-top: 2em;
    font-size: 2.0em;
    padding: 25px 60px;
}

footer {
    background-color:darkkhaki;
}

footer p {
    color:azure;
    padding: 12px;
}

footer.container {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/* ⊢----------Media Query para pantallas de 720px o más----------⊣ */

@media (min-width: 720px) {
    header {
        position: fixed;
        width: 100%;
    }

    #hero {
        height: 50em;
    }

    #hero h1 {
        padding-top: 2em;
        font-size: 6.5em;
    }

    header .container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    header .logo{
        font-size: 5em;
        padding: 20px;
    }

    header nav {
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 3   0px;
    }

    header a {
        padding: 5px 15px;
    }

    #informacion .container{
        padding: 200px 250px;
        gap: 50px;
    }

    #informacion .img-container {
        background-image: url(media/retrato.png);
        background-size: cover;
        background-position: center center;
        margin: 0px;
        width: 1000px;
    }

    /* Sección de trabajos optimizada */
    #trabajos {
        padding: 80px 50px;
    }

    #trabajos .trabajos {
        flex-direction: row;
        gap: 30px;
        justify-content: center;
        align-items: stretch;
        flex-wrap: nowrap;
        display: flex;
    }

    .carta-1,
    .carta-2 {
        font-size: 1em;
        flex: 1 1 0;
        max-width: 500px;
        min-height: 400px;
        padding: 3em 2em;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #contacto .container {
        font-size: 1.6em
    }

    #contacto ul {
        font-size: 1em;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    #contacto li {
        font-size: clamp(20px, 50%, 20px);
        padding-top: 2em;
        margin: 0;
    }

    #final button {
        font-size: 2em;
        padding: 25px 60px;

    }

    #final h2{;
        font-size: 5em;
    }
}